.photographer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 313px;
    background-color: #FAFAFA;
}

.photographer_info {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-right: 50px;
}

.photographer_info h1  {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 400;
    color: #D3573C;
}

.photographer_info p  {
    font-size: 1.2em;
    font-weight: 400;
    color: #525252;
}

.photographer_info h2  {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}

.contact_button, 
.submit_button {
    width: 170px;
    height: 70px;
    padding: 11px;  
    border: none;
    border-radius: 5px;
    background-color: #901C1C;   
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #D3573C;
    color: black;
    /* transform: scale(1.1); */
}

.contact_button:focus {
    /* Provide an alternative for browsers
    which do not support :focus-visible */
    outline: 4px solid #D3573C;
    background-color: #D3573C;
    color: black;
    /* transform: scale(1.1); */
}

.contact_button:focus:not(:focus-visible) {
    /* Remove mouse focus indicator for 
    browsers that support :focus-visible */
    background-color: #D3573C;
    color: black;
    /* transform: scale(1.1); */
}

.photographer_portrait {
    height: 200px;
    width: 200px;
    margin-right: 50px;
    border-radius: 100px;
    object-fit: cover;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background-color : rgba(0,0,0,0.50);
}

.modal_content {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
    background-color: #DB8876;
}

.modal_content header {
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.modal_content header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

.close_button{
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.text_label {
    color: #312E2E;
    font-size: 36px;
}

.text_control {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    color: #312E2E;
    font-size: 36px;
}

.text_control:focus {
    border-color: #312E2E;
  }

.message {
    height: 136px;  
}

.photographer_gallery {
    width: 100%;
    margin-top: 20px;
}

.photographer_gallery_filter {
    width: 25%;
}

.filter_text {
    margin-bottom: 50px;
    font-size: 1.2em;
    font-weight: 700;
    color: #000000;
    
}

.filter_select {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #901C1C;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    
}

.filter_option {
    width: 170px;
    height: 70px;
    padding: 10px 15px;
    background-color: #901C1C;
    font-size: 1em;
    font-weight: 700;
    color: #FFFFFF;
    
}

.photographer_gallery_medias {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px 80px; 
    margin-top: 50px;
}

.photographer_gallery_medias article {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;
	
	width: 350px;
	border-radius: 10px;
}
.photographer_gallery_medias article a {
	text-decoration: none;
}

.photographer_gallery_medias article a img {
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius: 5px;
}

.photographer_gallery_medias article a video {
    display: inline;
	width: 350px;
	height: 300px;
	object-fit: cover;
	border-radius: 5px;
}

.photographer_gallery_medias article span {	
	display: flex;
    justify-content: space-between;
    width: 350px;
    height: 30px;
}

.photographer_gallery_medias article span h3 {
    margin: 0;
    color: #901C1C;
    font-size: 1.5em;
    font-weight: 400;
}
.photographer_gallery_medias article span div {
	display: flex;
    justify-content: center;
}

.photographer_gallery_medias article span div p {
	margin: 0;
    margin-right: 5px;
    color: #901C1C;
    font-size: 1.5em;
    font-weight: 500;
}

.photographer_gallery_medias article span div i {
    width: 21px;
    height: 24px;
    margin-left: 5px;
    align-self: center;
    font-size: 1.5em;
    color: #901C1C;
}

#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color : #FFFFFF;
}

.lightbox_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 75%;
    height: 90%;  
    margin: auto; 
    margin-top: 5%; 
    background-color: #FFFFFF;
}

.lightbox_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

#right, #left {
    cursor: pointer;
}

#close_lightbox {
    position: absolute;
    top: 8%;
    right: 3%;
    cursor: pointer;
}

.lightbox_media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 90%;
    margin: 10px;
}

.lightbox_media img {
	width: 100%;
    height: 95%;
    margin: 10px;
	object-fit:cover;
	border-radius: 5px;
}

.lightbox_media video {
	width: 850px;
	height: 800px;
    margin: 10px;
	object-fit: cover;
	border-radius: 5px;
}

.lightbox_media h3 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}

aside {
    position: fixed;
    right: 5%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 376px;
    height: 50px;
    padding: 5px 30px;
    border-radius: 5px 5px 0 0;
    background-color: #D3573C;
}

aside div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside div p {
    align-self: center;
    color:#000000;
    font-size: 1.5em;
    font-weight: 500;
}

aside div i {
    width: 21px;
    height: 24px;
    margin-left: 10px;
    align-self: center;
    font-size: 1.5em;
}

aside p {
    align-self: center;
    color:#000000;
    font-size: 1.5em;
    font-weight: 500;

}
