@import url("photographer.css");

body {
    max-width: 1440px;
    max-height: 1024px;
    margin: auto;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 90px;
    padding-left: 100px;
}

header a:focus {
    /* Provide an alternative for browsers
    which do not support :focus-visible */
    outline: 2px solid #901C1C;
    background: #FAFAFA;
    /* transform: scale(1.1); */
}

header a:focus:not(:focus-visible) {
    /* Remove mouse focus indicator for 
    browsers that support :focus-visible */
    background: transparent;
    /* transform: scale(1.1); */
}

header a:focus:not(:focus-visible) {
    /* Draw an outline for browsers that 
    support :focus-visible when the
    navigation is by keyboard */
    outline: 4px dashed #D3573C;
    background: transparent; 
    /* transform: scale(1.1); */      
}

.logo {
    height: 50px;
}

header h1 {
    margin-right: 100px;
    color: #901C1C;
}

main {
    width: 85%;
    padding-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-decoration: none;
}

.photographer_section article a:focus {
    /* Provide an alternative for browsers
    which do not support :focus-visible */
    outline: 2px solid #901C1C;
    background: #FAFAFA;
    /* transform: scale(1.1); */
}

.photographer_section article a:focus:not(:focus-visible) {
    /* Remove mouse focus indicator for 
    browsers that support :focus-visible */
    background: transparent;
    /* transform: scale(1.1); */
}

.photographer_section article a:focus:not(:focus-visible) {
    /* Draw an outline for browsers that 
    support :focus-visible when the
    navigation is by keyboard */
    outline: 4px dashed #D3573C;
    background: transparent;    
    /* transform: scale(1.1); */
}

.photographer_section article a img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
    
}

.photographer_section article a h2 {
    margin: 0;
    color: #D3573C;
    font-size: 2.25em;
    font-weight: 400;
}

.photographer_section article h3 {
    margin: 0;
    color: #D3573C;
    font-size: 0.8em;
}

.photographer_section article span {
    margin: 0;
    color: #000000;
    font-size: 0.6em;
}

.photographer_section article p {
    margin: 0;
    color: #646363;
    font-size: O.55em;
}