.photographer_header {
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 1fr);
    gap: 50px;
    width: 93%;
    justify-self: center;
    height: 313px;
    margin-left: 100px;
    background-color: #FAFAFA;
}

.photographer_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;    
    margin-left: 50px;
}

.photographer_info h1  {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 400;
    line-height: 1;
    color: #D3573C;
}

.photographer_info h2  {
    margin: 0;
    margin-top: 15px;
    padding: 0;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}

.photographer_info p  {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 400;
    color: #525252;
}

#contact_button, 
#submit_button {
    width: 170px;
    height: 70px;
    padding: 11px;  
    border: none;
    border-radius: 5px;
    background-color: #901C1C;   
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#contact_button:hover, #contact_button:focus {
    outline: 4px solid #D3573C;
    background-color: #D3573C;
    color: black;
}

.photographer_portrait {
    height: 200px;
    width: 200px;
    margin-left: 100px;
    border-radius: 100px;
    object-fit: cover;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    background-color : rgba(0,0,0,0.50);
}

.modal_content {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin: auto;
    padding: 35px;
    border-radius: 5px;
    background-color: #DB8876;
}

.modal_content header {
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.modal_content header h2 {
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}

#close_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close_button:focus {
    outline: 4px solid #901C1C;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form_data {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.text_label {
    color: #312E2E;
    font-size: 36px;
}

.text_control {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    color: #312E2E;
    font-size: 36px;
}

.text_control:focus {
    outline: 4px solid #901C1C;
}

.errorMsg {
    font-size: 1.2em;
}

#message {
    height: 136px;
    font-family: sans-serif;
}

.photographer_gallery {
    width: 93%;
    margin-top: 10px;
    margin-left: 100px;
}

.photographer_gallery_filter {
    width: 25%;
}

.filter_text {
    margin-right: 25px;
    font-size: 1.2em;
    font-weight: 700;
    color: #000000;    
}

.filter_select {
    width: 200px;
    height: 50px;
    padding: 0 30px;  
    border: none;
    border-radius: 5px;
    background-color: #901C1C;   
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;    
}

.filter_option {
    width: 200px;
    padding: 0 30px;
    border-bottom: #FFFFFF;
    background-color: #901C1C;
    font-size: 1.2em;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;     
}

.photographer_gallery_medias {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px; 
    width: 100%;
    margin-top: 50px;
}

.gallery_image {
	display: flex;
	flex-direction: column;
    justify-content: space-between;
    align-items: center;	
	border-radius: 10px;
}

.media_link {
	text-decoration: none;
}

.media_link:focus {
    outline: 4px solid #901C1C;
}

.media_source {
	width: 400px;
	height: 350px;
	object-fit: cover;
	border-radius: 5px;
}

.gallery_image span {	
	display: flex;
    justify-content: space-between;
    width: 400px;
    height: 30px;
}

.gallery_image span h3 {
    margin: 0;
    color: #901C1C;
    font-size: 1.5em;
    font-weight: 400;
}
.gallery_image span div {
	display: flex;
    justify-content: center;
}

.gallery_image span div p {
	margin: 0;
    margin-right: 5px;
    color: #901C1C;
    font-size: 1.5em;
    font-weight: 500;
}

.likes_icon {
    align-self: center;
    padding-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.likes_icon:focus {
    outline: 2px solid #901C1C;
}

.likes_icon i {
    font-size: 1.5em;
    color: #901C1C;
}

#lightbox_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color : #FFFFFF;
}

.lightbox_content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 75%;
    height: 90%;  
    margin: auto; 
    margin-top: 5%; 
    background-color: #FFFFFF;
}

.lightbox_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right, #left {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close_lightbox {
    position: absolute;
    top: 8%;
    right: 1%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#right:focus, #left:focus, #close_lightbox:focus {
    outline: 4px solid #901C1C;
}

.lightbox_media {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 85%;
    height: 90%;
    text-decoration: none;
}

.lightbox_media:focus {
    outline: 4px solid #901C1C;
}

.slide_source {
	width: 95%;
    height: 95%;
    align-self: center;
	object-fit:cover;
	border-radius: 5px;
}

.slide_title {
    width: 95%;
    height: 5%;
    margin-top: 10px;
    align-self: center;
    font-size: 1.5em;
    font-weight: 400;
    color: #901C1C;
}

aside {
    position: fixed;
    right: 7%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 420px;
    height: 50px;
    padding: 5px 30px;
    border-radius: 5px 5px 0 0;
    background-color: #D3573C;
}

aside div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

aside div p {
    align-self: center;
    color:#000000;
    font-size: 1.5em;
    font-weight: 500;
}

aside div i {
    width: 21px;
    height: 24px;
    margin-left: 10px;
    align-self: center;
    font-size: 1.5em;
}

aside p {
    align-self: center;
    color:#000000;
    font-size: 1.5em;
    font-weight: 500;

}
