@import url("photographer.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    max-height: 1024px;
    margin: auto;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-size: 100%;
    line-height: 1.5;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px; 
}

.logo {
    height: 50px;    
    margin-left: 100px; 
}

.title {
    margin-right: 100px;
    color: #901C1C;
}

main {
    width: 100%;
}

.photographers_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
    width: 100%;
    margin-top: 100px;
}

.photographer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.photographer_details a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-decoration: none;
}

.photographer_details a img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.photographer_details a h2 {
    margin: 0;
    font-size: 2.25em;
    font-weight: 400;
    color: #D3573C;
}

.photographer_details h3 {
    margin: 0;
    font-size: 1em;
    color: #D3573C;
}

.photographer_details span {
    margin: 0;
    font-size: 0.8em;
    color: #000000;
}

.photographer_details p {
    margin: 0;
    font-size: 0.8em;
    color: #646363;
}
